{% extends '_base.html' %}
{% block main %}
<div class="b-pagination-indicator">
</div>

<div class="b-page-section m-blue m-extra-padding">
    <div class="row">
        <div class="large-3 large-offset-1 columns m-centered">
            <img src="img/digimap-us-1.svg" class="b-page-graphic" />
        </div>
        <div class="large-7 columns end m-v-centered">
            <p>The Multistate Registration and Filing Portal, Inc., a Delaware nonprofit corporation (MRFP), working with the National Association of State Charities Officials (NASCO), and the National Association of Attorneys General (NAAG) will develop an online system that will allow nonprofit organizations and their professional fundraisers to comply with all states’ registration and annual filing requirements through a single online portal (“The Single Portal Initiative”).</p>
            &nbsp;
        </div>
    </div>

</div>
<div class="b-slider slick">
    <section id="slide-id" class="b-slide m-blue">
        <header>
            <h4>RSS Feed Thing</h4>
        </header>
        <div class="row e-content">
            <div class="column medium-6">
                <h2 class="e-project-name">RSS feed thing 1</h2>
                <h3 class="e-question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
            </div>
            <div class="column medium-6">
                <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
            </div>
        </div>
        <div class="row e-content">
            <div class="column medium-6">
                &nbsp;
            </div>
            <div class="column medium-6">
                <div class="e-action">
                    <a class="b-button m-naked" href="#">Read More<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="slide-id" class="b-slide">
        <header>
            <h4>RSS Feed Thing</h4>
        </header>
        <div class="row e-content">
            <div class="column medium-6">
                <h2 class="e-project-name">RSS feed thing 2</h2>
                <h3 class="e-question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, enim adipisci dicta.</h3>
            </div>
            <div class="column medium-6">
                <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
            </div>
        </div>
        <div class="row e-content">
            <div class="column medium-6">
                &nbsp;
            </div>
            <div class="column medium-6">
                <div class="e-action">
                    <a class="b-button m-naked" href="#">Read More<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>
    </section>
</div>
<a name="contact"></a>
<div class="b-divider m-purple"><h1>Contact</h1></div>
<div class="b-page-section m-purple">
    <div class="row">
        <div class="large-10 large-offset-1 columns end">
            <form action="" class="b-form">
                <div class="row">
                    <div class="large-6 columns">
                        <input type="text" id="name" placeholder="Name"/>
                        <input type="email" id="mail" placeholder="Email"/>
                        <textarea id="msg" placeholder="Message" rows="4"></textarea>
                    </div>
                    <div class="large-6 columns">
                        <div class="e-checkbox">
                            <input type="checkbox" id="checkbox-1"><label for="checkbox-1">I agree with the terms of service</label>
                        </div>
                        <div class="e-checkbox">
                            <input type="checkbox" id="checkbox-2"><label for="checkbox-2">Send me updates about MRFP</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}