{% extends '_base.html' %}
{% block main %}
<div class="b-pagination-indicator m-yellow">
</div>


<div class="b-page-section m-yellow m-extra-padding">
   <div class="row">
    <div class="large-3 columns m-side-heading">
        <h1>Responses to Questions About the RFI</h1>
    </div>

    <div class="large-8 columns end m-text-large">

<!-- LIST -->
<!--       <h3>Affinity Fundraising Registration</h3>
      <a href="./files/rfi-responses/Affinity Reponse to the MRFP-RFI-revised-final3.pdf" class="b-button">Download the PDF</a>

      <h3>DonationXChange</h3>
       <a href="./files/rfi-responses/DonationXchange_Redacted.pdf" class="b-button">Download the PDF</a>

      <h3>Capstone Strategy Group</h3>
       <a href="./files/rfi-responses/RFI Response - Capstone Strategy Group - NY AG Vendor.pdf" class="b-button">Download the PDF</a>

      <h3>Council on Foundations</h3>
       <a href="./files/rfi-responses/RFI Response - Council on Foundation Input.pdf" class="b-button">Download the PDF</a>

      <h3>Department of Better Technology</h3>
       <a href="./files/rfi-responses/RFI Response - Department of Better Technology.pdf" class="b-button">Download the PDF</a>

      <h3>GuideStar and Simple Charity Registration</h3>
       <a href="./files/rfi-responses/RFI Response - GuideStar and Simple Charity Registration.pdf" class="b-button">Download the PDF</a>

      <h3>IRIS</h3>
       <a href="./files/rfi-responses/RFI Response - IRIS Business Services.pdf" class="b-button">Download the PDF</a>

      <h3>OurRecords</h3>
       <a href="./files/rfi-responses/RFI Response - OurRecords.pdf" class="b-button">Download the PDF</a>

      <h3>Tecuity</h3>
       <a href="./files/rfi-responses/RFI Response - Tecuity.pdf" class="b-button">Download the PDF</a>

      <h3>VisionLink</h3>
       <a href="./files/rfi-responses/RFI Response - VisionLink.pdf" class="b-button">Download the PDF</a> -->
<!-- END LIST -->



        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">Affinity</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/Affinity Reponse to the MRFP-RFI-revised-final3.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">DonationXChange</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/DonationXchange_Redacted.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">Capstone Strategy Group</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - Capstone Strategy Group - NY AG Vendor.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">Council on Foundations</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - Council on Foundation Input.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">Department of Better Technology</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - Department of Better Technology.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">GuideStar and Simple Charity Registration</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - GuideStar and Simple Charity Registration.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>
        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">IRIS</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - IRIS Business Services.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">OurRecords</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - OurRecords.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>
        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">Tecuity</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - Tecuity.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner">
                    <p class="e-card-name">VisionLink</p>
                    <p class="e-card-description"><a href="./files/rfi-responses/RFI Response - VisionLink.pdf" class="b-button">Download the PDF</a></p>
                </div>
        </div>

      </div>
    </div>
</div>

{% endblock %}