$mrfp-blue: #3B4E64;
$mrfp-l-blue: #BBC3D1;
$mrfp-ex-l-blue: #e1e5ea;
$mrfp-green: #00C5AC;
$mrfp-l-green: #EBFBF9;
$mrfp-yellow: #ECC600;
$mrfp-l-yellow: #FDFBED;
$mrfp-orange: #F16246;
$mrfp-l-orange: #FFF1ED;
$mrfp-purple: #AD6DC4;
$mrfp-l-purple: #F6EFF9;

$mrfp-l-orange-shade-1: #ffd6cc;

$mrfp-orange-accent: #ffad66;

$mrfp-timeline-1: #ecb100;
$mrfp-timeline-2: #ec9d00;
$mrfp-timeline-3: #ec8a00;
$mrfp-timeline-4: #ec7600;

.b-top-nav {
    &.m-transparent {
        background-color: transparent;
        position: absolute;
        top: 0;
        width: 100vw;
    }
    .e-logo {
        padding-top: 8px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;
        @include breakpoint($desktop) { display: block; }
        @include breakpoint($mobile-only) { display: none; }
    }
}

.b-top-section {
    a.m-no-decoration {
        &:hover { text-decoration: none; }
    }
    &.m-dark-blue {
        background-color: $mrfp-blue;
        color: $mrfp-l-blue;
    }
    h1, h2, h3, h4 {
        font-family: 'Raleway', sans-serif;
    }
    h1 {
        max-width: 40rem;
        margin: 0 auto;
        font-weight: 300;
        margin-bottom: 20px;
        @include breakpoint($desktop) { font-size: 45px; }
        @include breakpoint($mobile-only) { font-size: 40px; }
    }
    h3 {

        @include breakpoint($desktop) { font-size: 30px; }
        @include breakpoint($mobile-only) { font-size: 22px; }
    }
}

.b-page-section {
    &.m-orange {
        background-color: $mrfp-l-orange;
        color: $mrfp-blue;
    }
    &.m-purple {
        background-color: $mrfp-l-purple;
        color: $mrfp-blue;
    }
    &.m-green {
        background-color: $mrfp-l-green;
        color: $mrfp-blue;
    }
    &.m-yellow {
        background-color: $mrfp-l-yellow;
        color: $mrfp-blue;
    }
    &.m-blue {
        background-color: $mrfp-ex-l-blue;
        color: $mrfp-blue;
    }
    &.m-extra-padding {
        padding: 80px 0;
        & > .row:not(:last-child) {
            margin-bottom: 90px;
        }
        & > .row.m-sm-bot {
            margin-bottom: 10px;
        }
    }
}

.b-slide {
   &.m-blue { background-color: $mrfp-blue; }
   &.m-orange { background-color: $mrfp-orange; }
   &.m-purple { background-color: $mrfp-purple; }
}

.b-divider {
    &.m-centered {
        text-align: center;
    }
    &.m-no-padding {
        padding: 0;
        .row {
            margin: 0;
            max-width: 100vw;
        }
        .columns {
            padding: 0;
        }
    }
    &.m-purple {
        background-color: $mrfp-purple;
        color: $mrfp-l-purple;
    }
}

.b-top-menu {
    .b-menu-buttons {
        .b-button {
            &.m-block {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                margin-left: 0;
            }
            &:hover {
                // background-color: $white-40;
            }
        }
    }
}

.b-pagination-indicator {
    height: 4px;
    background-color: $mrfp-ex-l-blue;
    &.m-orange { background-color: $mrfp-orange; }
    &.m-green { background-color: $mrfp-green; }
    &.m-purple { background-color: $mrfp-purple; }
    &.m-yellow { background-color: $mrfp-yellow; }
}

$graphic-size: 200px;

.b-circle {
    display: inline-block;
    width: $graphic-size;
    height: $graphic-size;
    background-color: $mrfp-l-orange-shade-1;
    border-radius: 100%;
    .b-page-graphic {
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        fill: $mrfp-l-orange;
        height: 80%;
    }
}

.b-page-graphic {
    display: block;
    margin: 0 auto;

    @include breakpoint($desktop) {
        margin-top: 10%;
        height: 80%;
        width: 100%;
        margin-bottom: 0;
    }
    @include breakpoint($mobile-only) {
        height: 100%;
        width: 80%;
        margin-bottom: 80px;
    }
}

.row, .columns {
    &.m-centered { text-align: center; }
    &.m-v-centered {
        position: relative;
        min-height: $graphic-size;
        & > p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.m-text-large {
        p {
            font-size: 18px;
            line-height: 1.9;
            padding-bottom: 20px;
            &.m-small {
                font-size: 14px;
                line-height: 1.4;
            }
            &.m-centered {
                text-align: center;
            }
            &.m-no-padding {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        h2 {
            padding-bottom: 40px;
        }
        ul {
            li {
                font-size: 18px;
                line-height: 1.7;
            }
        }
    }

    &.m-extra-padding {
        padding: 40px 0;
    }

    &.m-side-heading {
        @include breakpoint($desktop) { text-align: right; }
        @include breakpoint($mobile-only) { text-align: left; }
        h1 {
            text-rendering: auto;
            display: inline;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 30px;
        }
        padding-bottom: 20px;
    }

    &.m-collapsible {
        &.m-collapsed > *:not(:first-child):not(.m-show):not(.m-more) {
            display: none;
        }
        &.m-collapsed > .m-more {
            display: inline;
            &::after {
                content: 'Read More'
            }
        }
        & > .m-more {
            display: inline;
            &::after {
                content: 'Read Less'
            }
        }
    }

    &.m-orange { background-color: $mrfp-orange; }
    &.m-green { background-color: $mrfp-green; }
    &.m-purple { background-color: $mrfp-purple; }
    &.m-yellow { background-color: $mrfp-yellow; }
}


ul {
    &.b-states {
        list-style: none;
        color: $gray-50;
        font-weight: 600;
        float: left;
        width: 12rem;
        margin: 0;
    }
    &.b-contact {
        list-style: none;
        color: $gray-50;
        li:first-of-type {
            color: $black;
            font-weight: 600;
        }
    }
    &.e-requirements-list {
        padding: 20px 40px;
        margin-left: 0;
        li {
            margin-bottom: 30px;
        }
    }
}

.b-state-box-outer {
    text-align: center;
    .b-state-box {
        text-align: left;
        display: inline-block;
        &::after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    }
}

.b-us-map {
    width: 100%;
    margin-bottom: 40px;
    .state
    {
        fill:#E0E0E0;
        stroke: $mrfp-l-orange;
        stroke-width:2;
        stroke-opacity:1;
    }

    .territory
    {
        opacity:0;
        fill:#E0E0E0;
        stroke:#646464;
        stroke-width:1;
        stroke-opacity:1;
    }

    .territoryborder
    {
        opacity:0;
        fill:none;
        stroke:#A9A9A9;
        stroke-width:2;
    }

    .border
    {
        opacity:1;
        fill:none;
        stroke:#A9A9A9;
        stroke-width:2;
    }

    .circle
    {
        opacity:1;
        fill:#E0E0E0;
        stroke:#646464;
        stroke-width:1;
    }
    .m-pilot {
        fill: $mrfp-orange-accent;
    }
}

time {
    font-weight: 600;
}

$diagonal-size: 17px;

.b-timeline {
    display: block;
    padding-left: 5px;
    margin-bottom: 40px;
    .e-event {
        display: relative;
        margin-left: -5px;
        display: inline-block;
        border: solid 2px green;
        width: 20%;
        vertical-align: top;
        .e-description {
            border: solid 2px red;
            display: block;
        }
        time {
            display: block;
            border: solid 2px blue;
        }

    }
    .e-timeline-graphic {
        background-color: #E0E0E0;
        margin-left: -5px;
        padding-left: 5px;
        .e-timebox {
            height: 40px;
            padding: 0;
            display: inline-block;
            width: 20%;
            margin-left: -5px;
            &::before {
                content: " ";
                display: absolute;
                top: 10;
                font-size: 0px;
                width: 0;
                height: 0;
                border-top: $diagonal-size solid green;
                border-right: $diagonal-size solid transparent;
                border-bottom: $diagonal-size solid transparent;
                border-left: $diagonal-size solid green;
            }
            &:nth-child(1) { background-color: $mrfp-yellow; }
            &:nth-child(2) { background-color: $mrfp-timeline-1; }
            &:nth-child(3) { background-color: $mrfp-timeline-2; }
            &:nth-child(4) { background-color: $mrfp-timeline-3; }
            &:nth-child(5) { background-color: $mrfp-timeline-4; }
            &:nth-child(1)::before { border-left: $diagonal-size solid $mrfp-l-yellow; border-top: $diagonal-size solid $mrfp-l-yellow }
            &:nth-child(2)::before { border-left: $diagonal-size solid $mrfp-yellow; border-top: $diagonal-size solid $mrfp-yellow }
            &:nth-child(3)::before { border-left: $diagonal-size solid $mrfp-timeline-1; border-top: $diagonal-size solid $mrfp-timeline-1 }
            &:nth-child(4)::before { border-left: $diagonal-size solid $mrfp-timeline-2; border-top: $diagonal-size solid $mrfp-timeline-2 }
            &:nth-child(5)::before { border-left: $diagonal-size solid $mrfp-timeline-3; border-top: $diagonal-size solid $mrfp-timeline-3 }
        }
    }
}

#overlay {
    background-color: transparent;
}